.offcanvas-head {
    background-color: black;
    color: pink;
}

#texto {
    background-color: #F3F2F2;
    font-family: 'letters for Learners';
    font-size: 28px;
}

#imagen img {
    width: 100%;
}

#texto h1 {
    height: 50%;
    font-family: 'Holland';
    font-size: 100px;
}