    nav {
      background-color: #FFCED6;
    }
    .offcanvas {
      background-color: #000;
    }
    .navbar-toggler {
      border: 5px;
    }
    .navbar-toggler:focus {
      outline: none;
      box-shadow: none;
    }

    @media (max-width: 768px) {
      .navbar-nav > li:hover {
        background-color: #0dcaf0;
      }
    }
    