body {
    background-image: url('../imagenes/v412_717.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

body {
    background-color: #ffffff5e;
}

#formulario {
    background-color: rgba(225, 225, 225, 0.7);
    width: 60%;
    margin: 10vh auto;
    max-width: 600px;
    border: 1px solid #f3f2f3;
    text-align: left;
    box-sizing: border-box;
}

#logo {
    max-width: 100%;
    height: auto;
    display: block;
    position: relative;
    left: 125px;
}

input {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    box-sizing: border-box;
}

.botones {
    text-align: center;
}

#btnIniciar,
#btnRegistrarse {
    background-color: transparent;
    border: 0px;
    display: inline-block;
    margin: 10px;
    align-items: center;
    position: relative;
    padding: 10px;
}

#btnIniciar img,
#btnRegistrarse img {
    width: 70%;
}

.o-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.o-linea {
    flex-grow: 1;
    height: 1px;
    background-color: #000000;
    margin: 0 10px;
}

.o-letra {
    font-size: 20px;
    margin: 0 5px;
}