body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.contenedor {
    width: 60%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: left;
    /* Alinea el texto a la izquierda */
    box-sizing: border-box;
}

#logo {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    /* Centra el logo horizontalmente */
    display: block;
    /* Evita el espacio adicional debajo de la imagen */
}

input {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    box-sizing: border-box;
}

.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.o-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.o-linea {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
    margin: 0 10px;
}

.o-letra {
    font-size: 20px;
    margin: 0 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}